.stApp {
    background: linear-gradient(135deg,
            #0c0c2e 0%,
            #1e3a8a 50%,
            #0c0c2e 100%);

    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.stSlider>div>div>div>div {
    background-color: #555 !important
}

h1,
h2,
h3 {
    color: #f8fafc;
}

.card {
    background-color: #111111;
    border-radius: 12px;
    border-left: 4px solid #1e3a8a;
    box-shadow: 0 8px 25px rgba(30, 58, 138, 0.6);
    padding: 25px;
    margin-bottom: 25px;
}

div[data-testid="metric-container"] {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    color: #f8fafc;
}

.prediction-box {
    background: linear-gradient(135deg,
            #1e40af,
            #1e3a8a);
    box-shadow: 0 6px 20px rgba(30, 64, 175, 0.7);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #f8fafc;
    margin-top: 15px;
}